body{
    background-color: black;
    color: rgb(0, 0, 0);
    background-image: url(image/photo-1579547621706-1a9c79d5c9f1.jpg);
}

.navbar {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Align content to the right */
    align-items: center; /* Center items vertically */
    font-family: Helvetica, sans-serif; /* Font family */
    font-size: 24px; /* Increased font size */
    font-weight: bold; /* Bold font */
    background-image: url(image/photo-1579547621706-1a9c79d5c9f1.jpg);
    
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.text-section {
    width: 70%;
    font-size: 16px;
    line-height: 1.6;
}

.img-section {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-top: 15px;
}

p, ul {
    margin-bottom: 10px;
}

